<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body{
				padding-top:70px; padding-bottom:70px;
			}

			#main-navbar{
				background: #0090c5 ; border: none;
			}

			#main-navbar a.navbar-brand{
				color: #fff;
			}
		</style>
	</head>
	<body>

		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top" id="main-navbar" role="navigation">
				<div class="container">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="navbar-header">						
							<a href="index.html" class="navbar-brand">IlmuWebSite</a>
						</div>
					</div>
					
				</div>
			</nav>
		</header>

		<div class="container">
		        <div class="row">
		            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		                
		                <div class="post-preview">
		                    <a href="post.html">
		                        <h2 class="post-title">3 Tips Powerfull Untuk Facebook Marketing. </h2>
		                    </a>
		                    <p class="post-meta">Posted by <a href="#">Admin</a> on Mei 6, 2016</p>
		                </div>
		                
		                <hr>

		                <div class="post-preview">
		                    <a href="post.html">
		                        <h2 class="post-title">Upload Photo Ke Instagram Lewat PC ? Gramblr Saja!!!</h2>
		                    </a>
		                    <p class="post-meta">Posted by <a href="#">Admin</a> on Mei 6, 2016</p>
		                </div>

		                <hr>

		                <div class="post-preview">
		                    <a href="post.html">
		                        <h2 class="post-title">Cara Menghasilkan Uang Dari Blog Gratisan? Gimana Sih? Begini Lho...</h2>
		                    </a>
		                    <p class="post-meta">Posted by <a href="#">Admin</a> on Mei 6, 2016</p>
		                </div>

		                <hr>

		                <div class="post-preview">
		                    <a href="post.html">
		                        <h2 class="post-title">Anak DKV Lulus Kuliah Bingung Mau Kemana? Ini Dia Pilihan Karir Yang Bisa Dijabani!</h2>
		                    </a>
		                    <p class="post-meta">Posted by <a href="#">Admin</a> on Mei 6, 2016</p>
		                </div>

		                <hr>

		                <div class="post-preview">
		                    <a href="post.html">
		                        <h2 class="post-title">6 Hal Ini Bikin Anda Sukses Dengan Blogging!</h2>
		                    </a>
		                    <p class="post-meta">Posted by <a href="#">Admin</a> on Mei 6, 2016</p>
		                </div>

		                <hr>
		                <!-- Pager -->
		                <ul class="pagination">
		                    <li>
		                        <a href="#">1</a>
		                    </li>
		                    <li>
		                        <a href="#">2</a>
		                    </li>
		                    <li>
		                        <a href="#">3</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		</div>
		
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>
</html>